@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body {
  margin: 0;
  font-family: 'Alice' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: black !important;
}

.navbar-brand{
  color: black !important;
  font-size: 25px !important;
}

h1 {
  font-size: 20px !important;
}

.flex-container{
  display: flex !important;
}

.btn{
  background-color: #008080 !important;
  color: white !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
}

.fa-plus{
  color: green;
  margin: 5px;
}

.fa-minus{
  color: red;
  margin: 5px;
}

.fa-trash{
  color: red;
  margin: 5px;
}

.adminfunctions{
  padding: 10px;
  background-color:rgb(1, 1, 77);
}

.adminfunctions li{
  list-style-type: none !important; 
  display: inline !important;
  color: white !important;
}
.adminfunctions li a{
   color: white !important;
   padding: 20px;
}